In [1]:
import pandas as pd

In [2]:
# deaths = pd.read_csv("deaths.csv")
confirmed = pd.read_csv("conf.csv")
# recovered = pd.read_csv("recovered.csv")

In [3]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [4]:
def formatize(table):
    del table["Lat"]
    del table["Long"]
    del table["Province/State"]
    return table.groupby("Country/Region").sum()

In [5]:
fd = formatize(confirmed)

In [6]:
confy = confirmed.groupby("Country/Region").sum()

In [7]:
confy

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,665,714,784,840,906,933,996,1026,1092,1176
Albania,0,0,0,0,0,0,0,0,0,0,...,467,475,494,518,539,548,562,584,609,634
Algeria,0,0,0,0,0,0,0,0,0,0,...,1983,2070,2160,2268,2418,2534,2629,2718,2811,2910
Andorra,0,0,0,0,0,0,0,0,0,0,...,646,659,673,673,696,704,713,717,717,723
Angola,0,0,0,0,0,0,0,0,0,0,...,19,19,19,19,19,24,24,24,24,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,308,308,374,374,402,418,437,449,466,474
Western Sahara,0,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
Yemen,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Zambia,0,0,0,0,0,0,0,0,0,0,...,45,45,48,48,52,57,61,65,70,74
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,17,17,23,23,24,25,25,25,28,28

In [8]:
conf_d=confy.diff(axis=1)

In [9]:
conf_d

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,49.0,70.0,56.0,66.0,27.0,63.0,30.0,66.0,84.0
Albania,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21.0,8.0,19.0,24.0,21.0,9.0,14.0,22.0,25.0,25.0
Algeria,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69.0,87.0,90.0,108.0,150.0,116.0,95.0,89.0,93.0,99.0
Andorra,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,13.0,14.0,0.0,23.0,8.0,9.0,4.0,0.0,6.0
Angola,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,0.0,66.0,0.0,28.0,16.0,19.0,12.0,17.0,8.0
Western Sahara,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yemen,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zambia,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,3.0,0.0,4.0,5.0,4.0,4.0,5.0,4.0
Zimbabwe,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,6.0,0.0,1.0,1.0,0.0,0.0,3.0,0.0

In [15]:
import json
with open('confoo.json','w') as f:
    f.write(conf_d.to_json())

In [10]:
import moment

In [12]:
(moment.date("1/22/20")-moment.date("1/24/20")).days

-2

In [11]:
conf_d.columns = map(lambda x: (moment.date(x)-moment.date("1/22/20")).days, conf_d.columns)

In [12]:
conf_d

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,49.0,70.0,56.0,66.0,27.0,63.0,30.0,66.0,84.0
Albania,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21.0,8.0,19.0,24.0,21.0,9.0,14.0,22.0,25.0,25.0
Algeria,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,69.0,87.0,90.0,108.0,150.0,116.0,95.0,89.0,93.0,99.0
Andorra,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,13.0,14.0,0.0,23.0,8.0,9.0,4.0,0.0,6.0
Angola,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,0.0,66.0,0.0,28.0,16.0,19.0,12.0,17.0,8.0
Western Sahara,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yemen,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zambia,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,3.0,0.0,4.0,5.0,4.0,4.0,5.0,4.0
Zimbabwe,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,6.0,0.0,1.0,1.0,0.0,0.0,3.0,0.0

In [13]:
conf_d.index.values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [122]:
for row in confy.iterrows():
    print(row[0],drow(row[1]))

Afghanistan 1.0
Albania 2.125
Algeria 0.8333333333333334
Andorra 0.0
Argentina 1.4133333333333336
Armenia 0.0
Australia 1.5734751359751358
Austria 1.3360372633902045
Azerbaijan 0.0
Bahrain 1.8033333333333335
Bangladesh 0.0
Belarus 0.0
Belgium 1.8906719000376735
Bhutan 0.0
Bolivia 0
Bosnia and Herzegovina 0.3333333333333333
Brazil 0.5134920634920634
Brunei 0.0
Bulgaria 0.0
Burkina Faso 1.0
Cambodia 0.0
Cameroon 0.0
Canada 2.676709401709402
Chile 0.5
China 0.892608937720995
Colombia 1.5
Congo (Kinshasa) 0
Costa Rica 0.3333333333333333
Cote d'Ivoire 0
Croatia 0.6875
Cruise Ship 0.0
Cuba 0
Cyprus 1.75
Czechia 2.6875
Denmark 1.425569198243617
Dominican Republic 0.0
Ecuador 0.8333333333333334
Egypt 2.18218954248366
Estonia 2.25
Finland 1.1005102040816328
France 2.1412899101476186
French Guiana 0.0
Georgia 0.05555555555555555
Germany 2.6459312232209675
Greece 4.916599025974026
Guyana 0
Holy See 0.0
Honduras 0
Hungary 0.5416666666666666
Iceland 1.1432323232323234
India 1.2206452062430324
Indonesia 1.598076923076923
Iran 1.2496910349231485
Iraq 0.7502645502645504
Ireland 1.8846153846153846
Israel 1.5101426024955438
Italy 1.3209549243095948
Jamaica 0
Japan 1.639940940396321
Jordan 0.0
Korea, South 1.3732103506317603
Kuwait 0.26666666666666666
Latvia 1.375
Lebanon 1.1031746031746033
Liechtenstein 0.0
Lithuania 0.0
Luxembourg 0.25
Malaysia 1.1373737373737371
Maldives 0.5
Malta 0.25
Martinique 0.0
Mexico 0.6666666666666667
Moldova 0.0
Monaco 0.0
Mongolia 0.0
Morocco 0.6666666666666666
Nepal 0
Netherlands 1.4963173800000726
New Zealand 0.25
Nigeria 0.0
North Macedonia 0.0
Norway 1.8040853090283013
Oman 0.16666666666666666
Pakistan 0.075
Panama 7.0
Paraguay 0.0
Peru 1.05
Philippines 1.906153846153846
Poland 0.7066666666666667
Portugal 1.018800247371676
Qatar 6.335034013605442
Reunion 0
Romania 0.9166666666666666
Russia 1.8
San Marino 1.621768707482993
Saudi Arabia 0.42333333333333334
Senegal 1.0
Serbia 0.875
Singapore 0.8574413241079908
Slovakia 0.25
Slovenia 1.0583333333333333
South Africa 0.5
Spain 1.5755360828943825
Sri Lanka 0
Sweden 2.5129125657242244
Switzerland 1.6084873316586872
Taiwan* 0.7125
Thailand 0.75
Togo 0.0
Tunisia 0.2222222222222222
Turkey 0
US 2.09413934641
Ukraine 0.0
United Arab Emirates 0.05555555555555555
United Kingdom 1.6084767953894168
Vietnam 4.333333333333333

In [121]:
import copy
def drow(LL):
    L=copy.deepcopy(LL[-15:-1])
    Z = [y - x for x,y in zip(L,L[1:])]
    V = [y / x for x,y in zip(Z,Z[1:]) if x!=0]
    if len(V)>0:
        return sum(V)/len(V)
    else:
        return 0

In [107]:
drow([1,2,3,30,60,120,240,480])

[1.0, 27.0, 1.1111111111111112, 2.0, 2.0, 2.0]

In [42]:
a=['Afghanistan', 'Albania', 'Algeria', 'Andorra',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cruise Ship', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt',
       'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia', 'Finland',
       'France', 'French Guiana', 'Gabon', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Greenland', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guyana', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, South', 'Kosovo', 'Kuwait',
       'Latvia', 'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Malaysia', 'Maldives', 'Malta', 'Martinique',
       'Mauritania', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of the Congo', 'Reunion',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan',
       'Tanzania', 'Thailand', 'The Bahamas', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'occupied Palestinian territory']
# in dataset

In [48]:
b = ['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Southern and Antarctic Lands',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Guatemala',
 'Guinea',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Northern Cyprus',
 'Northern Cyprus',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Serbia',
 'Republic of the Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'Somaliland',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'The Bahamas',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [51]:
inb = [x for x in b if x not in a]

In [52]:
inb

['Angola',
 'Belize',
 'Bermuda',
 'Botswana',
 'Burundi',
 'Chad',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Djibouti',
 'East Timor',
 'El Salvador',
 'Eritrea',
 'Falkland Islands',
 'Fiji',
 'French Southern and Antarctic Lands',
 'Gambia',
 'Guinea Bissau',
 'Haiti',
 'Ivory Coast',
 'Kyrgyzstan',
 'Laos',
 'Lesotho',
 'Libya',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Montenegro',
 'Mozambique',
 'Myanmar',
 'New Caledonia',
 'Nicaragua',
 'Niger',
 'North Korea',
 'Northern Cyprus',
 'Northern Cyprus',
 'Papua New Guinea',
 'Republic of Serbia',
 'Sierra Leone',
 'Solomon Islands',
 'Somaliland',
 'South Korea',
 'South Sudan',
 'Swaziland',
 'Syria',
 'Tajikistan',
 'Turkmenistan',
 'Uganda',
 'United Republic of Tanzania',
 'United States of America',
 'Vanuatu',
 'West Bank',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']